body {
	font-family: aesthetic;
	font-size: 24px;
}

.aboutMeImage{
	background-image: url(../images/portret.jpg);
	background-size: cover;
	height: 65%;
}

.aboutMe{
	height: 85%;
	font-size: 30px;
	background-color: rgb(237, 238, 237);
}

.skills{
	height: 50%;
}

.paragraph{
	margin-top: 5%;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 3%;
	font-style: oblique;
}

.myInfo{
	height: 75%;
	margin-top:3%;
}

.infoField{
	font-size: 28px;
	margin-left: 20px;
}

.infoFieldName{
	font-size: 28px;
	margin-top: 40px;
}

.experience{
	height: 85%;
	font-size: 30px;
	background-color: rgb(237, 238, 237);
}

.gitImg{
	margin-top: 10%
	width: 100%;
    height: 250px;
}

.git{
	margin-top: 3%
}

.contactForm{
	height: 85%;
}

.footer{
	background-color: rgb(237, 238, 237);
}

button{
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    margin: 50px 90px;
    font-weight: bold;
    font-size: 24px;
    color: #6c7d96;
    transition: 0.2s;
}

button:hover{
    transition: 0.2s;
    opacity: 0.7;
}

button:active{
    transition: 0.2s;
    opacity: 0.4;
}

nav{
    background-color: rgb(237, 238, 237);
    width: 100%;
    position: relative;
    top: -999px;
    transition: 0.5s ease;
    float: center;
}

nav ul li{
    padding: 20px 0;
    text-align: center;
    transition: 0.2s;
}

nav ul li:active{
    background-color: rgb(237, 238, 237);
    transition: 0.2s;
}

li{
	display: inline;
	margin-left: 20%;
}